body{
	background:#999999 url(../img/run01/01_02.png) no-repeat fixed;
	background-size:100%;
	overflow: hidden;
}
*{
	color: #686868;
	font-size: 4vw;
}
@-ms-keyframes up{
	0%{
		margin-top:100%;
	}
	100%{
		margin-top:0%;
	}
}
@-webkit-keyframes up{
	0%{
		margin-top:100%;
	}
	100%{
		margin-top:0%;
	}
}
@-moz-keyframes up{
	0%{
		margin-top:100%;
	}
	100%{
		margin-top:0%;
	}
}

@keyframes up{
	0%{
		margin-top:100%;
	}
	100%{
		margin-top:0%;
	}
}
.Welcome{
	font-size: 5vw;
	color:#FFFEFF;
	height:6.5%;
	min-height: 30px;
	font-weight: bold;
	padding-left:8%;
	padding-top:2%;
}
.Welcome b{
	font-size: 6vw;
	color:#FF0048;
	font-weight: bold;
}
#CreateGroup{
	height: 100%;
	min-height: 568px;
	width: 92%;
	margin:0 auto;
	background-color: #FFFEFF;
	border-radius: 3px;
	padding: 5%;
	animation: up 1s linear;
	-webkit-animation: up 1s linear;
}
ul{
	height:65%;
}
ul li{
	height:20%;
}
ul li p{
	height:30%;
	margin-bottom: 3%;
}
ul li input{
	height:38%;
	width:100%;
	border: 1px solid #ddd;
	background-repeat:no-repeat ;
	background-size:100% 100%;
	text-align: center;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #DDDDDD;
}
#BTN{
	height:15%;
}
#btn{
	width: 100%;
	background:linear-gradient(to bottom,#FD885E 0%,#F25F6E 100%);
	line-height:40px;
	font-size: 15px;
	color:#9B1339;
	border:none;
	border-radius: 3px;
}
/*上传照片*/
.modal{
	position: fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	height:100%;
	background:rgba(0,0,0,0.5);
}
.modal-dialog{
	height: 100%;
	padding: 0 5%;
}
.modal-content {
	height:35%;
}
.modal-content div{
	height:60%;
}
.modal-content>p{
	height: 30%;
}
.modal-content div,.modal-content>p{
	background: #fff;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 10px;
}
.modal-content div>p{
	height: 50%;
	line-height: 100%;
}
.modal-content div>p:first-child{
	border-bottom: 1px solid #ddd;
}
.modal-content p{
	color:#027BFF;
	font-size: 5vw;
	font-weight: 750;
	padding-top:8%;
}
/*创建成功*/
.GroupSucc{
	width:70%;
	margin-left: 15%;
	border-radius:10px;
	margin-top:70%;
}
.GroupSucc div{
	border-bottom:1px solid #ddd;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-top:10%;
}
.GroupSucc div p{
	margin:0;
	padding: 0;
	height:30%;
	margin-top:5px;
	border: none;
	font-size: 4vw;
	color:#000;
}
.GroupSucc>p{
	margin:0;
	padding: 0;
	padding-top:5% ;
}
.GroupSucc>p a{
	color:#007AFF;
	text-decoration: none;
}
/*GroupErr*/
.GroupErr{
	width:70%;
	margin-left: 15%;
	border-radius:10px;
	margin-top:70%;
}
.GroupErr>P:first-child{
	height: 60%;
	padding-top: 12%;
	color:#000;
}
.GroupErr>P:last-child{
	height: 40%;
	padding: 0;
	margin: 0;
}
.GroupErr>P a{
	display: inline-block;
	width: 49%;
	text-decoration: none;
	text-align: center;
	height:75%;
	padding-top:5%;
	color:#007AFF;
}

